alembic
email_validator
Flask
Flask-Admin
Flask-Bootstrap
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
gunicorn
Jinja2
PyJWT
python-dotenv
pytz
SQLAlchemy
Werkzeug
WTForms
