<div id="updateImmediatelyDiv" style="display: none;">
<pre><code class="C++">
#include &lt;WiFiManager.h&gt;           //https://github.com/admarschoonen/WiFiManager
#include &lt;dESPatch.h&gt;

WiFiManager wifiManager;
DESPatch dESPatch;
{{ root_ca }}
void setup() {
  const char url[] = "{{ http_or_https }}://apikey:{{ product.key }}@{{ hostname }}/files/{{ product.id }}/despatch.json";
  int x;

  Serial.begin(115200);

  //wifiManager.resetSettings();
  wifiManager.configure("test", true, LED_BUILTIN, true, BUTTON_BUILTIN, false);

  //fetches ssid and pass and tries to connect
  //if it does not connect it starts an access point
  //and goes into a blocking loop awaiting configuration
  if (!wifiManager.autoConnect()) {
    Serial.println("failed to connect and hit timeout");
    //reset and try again, or maybe put it to deep sleep
    ESP.restart();
    delay(1000);
  }

  //if you get here you have connected to the WiFi
  Serial.print("connected with address: ");
  Serial.println(WiFi.localIP());

  //keep LED on
  digitalWrite(LED_BUILTIN, LED_ON_VALUE_DEFAULT);

  x = dESPatch.configure(url, true, 10, true, NULL, NULL);
  Serial.print("dESPatch.configure() returned with code ");
  Serial.println(x);
}

void loop(void) {
  static unsigned long t_prev = 0;
  static bool ledOn = false;
  unsigned long t_now = millis();
  const int buttonPin = 0;
  String localVersion = "";
  String remoteVersion = "";

  if (t_now - t_prev &gt;= 500) {
    t_prev = t_now;
    ledOn ^= true;
    digitalWrite(LED_BUILTIN, ledOn);
  }
  delay(10); // Do not remove delay, else dESPatchTask will not be able to run!
}

</code></pre>
</div>
