<script>
function toggleBackgroundUpdateAfterConfirmation() {
  var x = document.getElementById("backgroundUpdateAfterConfirmationDiv");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }

  var x = document.getElementById("backgroundUpdateImmediatelyDiv");
  x.style.display = "none";

  var x = document.getElementById("foregroundUpdateImmediately");
  x.style.display = "none";
}
</script>

<script>
function toggleBackgroundUpdateImmediately() {
  var x = document.getElementById("backgroundUpdateAfterConfirmationDiv");
  x.style.display = "none";

  var x = document.getElementById("backgroundUpdateImmediatelyDiv");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }

  var x = document.getElementById("foregroundUpdateImmediately");
  x.style.display = "none";
}
</script>

<script>
function toggleForegroundUpdateImmediately() {
  var x = document.getElementById("backgroundUpdateAfterConfirmationDiv");
  x.style.display = "none";

  var x = document.getElementById("backgroundUpdateImmediatelyDiv");
  x.style.display = "none";

  var x = document.getElementById("foregroundUpdateImmediately");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

<button type="button" class="btn btn-default" onclick="toggleForegroundUpdateImmediately()">Foreground update immediately</button>

